allow flags_health_check property_socket:sock_file { write };
allow flags_health_check init:unix_stream_socket { connectto };
allow flags_health_check device_config_boot_count_prop:property_service { set };
allow flags_health_check device_config_boot_count_prop:file { read getattr map open };
allow flags_health_check device_config_reset_performed_prop:property_service { set };
allow flags_health_check device_config_reset_performed_prop:file { read getattr map open };
allow flags_health_check device_config_runtime_native_boot_prop:property_service { set };
allow flags_health_check device_config_runtime_native_boot_prop:file { read getattr map open };
allow flags_health_check device_config_runtime_native_prop:property_service { set };
allow flags_health_check device_config_runtime_native_prop:file { read getattr map open };
allow flags_health_check device_config_input_native_boot_prop:property_service { set };
allow flags_health_check device_config_input_native_boot_prop:file { read getattr map open };
allow flags_health_check device_config_netd_native_prop:property_service { set };
allow flags_health_check device_config_netd_native_prop:file { read getattr map open };
allow flags_health_check device_config_activity_manager_native_boot_prop:property_service { set };
allow flags_health_check device_config_activity_manager_native_boot_prop:file { read getattr map open };
allow flags_health_check device_config_media_native_prop:property_service { set };
allow flags_health_check device_config_media_native_prop:file { read getattr map open };
allow flags_health_check device_config_storage_native_boot_prop:property_service { set };
allow flags_health_check device_config_storage_native_boot_prop:file { read getattr map open };
allow flags_health_check device_config_sys_traced_prop:property_service { set };
allow flags_health_check device_config_sys_traced_prop:file { read getattr map open };
allow flags_health_check device_config_window_manager_native_boot_prop:property_service { set };
allow flags_health_check device_config_window_manager_native_boot_prop:file { read getattr map open };
allow flags_health_check device_config_configuration_prop:property_service { set };
allow flags_health_check device_config_configuration_prop:file { read getattr map open };
allow flags_health_check server_configurable_flags_data_file:dir { ioctl read write getattr lock open watch watch_reads add_name remove_name search };
allow flags_health_check server_configurable_flags_data_file:file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };

allow flags_health_check flags_health_check_exec:file { read getattr map execute open entrypoint };