allow installd self:capability { chown dac_override dac_read_search fowner fsetid setgid setuid sys_admin };
allow installd self:cap_userns { chown dac_override dac_read_search fowner fsetid setgid setuid sys_admin };
allow installd dalvikcache_data_file:dir { relabelto };
allow installd dalvikcache_data_file:file { relabelto link };
allow installd apk_data_file:dir { read write create getattr setattr lock relabelfrom rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd apk_data_file:file { read write create getattr setattr lock relabelfrom append map unlink link rename open watch watch_reads };
allow installd apk_data_file:lnk_file { read create getattr lock map unlink open watch watch_reads };
allow installd asec_apk_file:file { read getattr lock map open watch watch_reads };
allow installd apk_tmp_file:file { read getattr lock map unlink open watch watch_reads };
allow installd apk_tmp_file:dir { read write create getattr setattr lock relabelfrom rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd oemfs:dir { read getattr lock open watch watch_reads search };
allow installd oemfs:file { read getattr lock map open watch watch_reads };
allow installd cgroup:dir { read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd mnt_expand_file:dir { getattr search };
allow installd selinuxfs:dir { read getattr lock open watch watch_reads search };
allow installd selinuxfs:file { read getattr lock map open watch watch_reads };
allow installd selinuxfs:lnk_file { read getattr lock map open watch watch_reads };
allow installd selinuxfs:file { write lock append map open };
allow installd kernel:security { check_context };
allow installd rootfs:dir { read getattr lock open watch watch_reads search };
allow installd rootfs:file { read getattr lock map open watch watch_reads };
allow installd rootfs:lnk_file { read getattr lock map open watch watch_reads };
allow installd system_file:dir { read getattr lock open watch watch_reads search };
allow installd system_file:file { read getattr lock map open watch watch_reads };
allow installd system_file:lnk_file { read getattr lock map open watch watch_reads };
allow installd vendor_app_file:dir { read getattr lock open watch watch_reads search };
allow installd vendor_app_file:file { read getattr lock map open watch watch_reads };
allow installd vendor_app_file:lnk_file { read getattr lock map open watch watch_reads };
allow installd vendor_framework_file:dir { read getattr lock open watch watch_reads search };
allow installd vendor_framework_file:file { read getattr lock map open watch watch_reads };
allow installd vendor_framework_file:lnk_file { read getattr lock map open watch watch_reads };
allow installd vendor_overlay_file:dir { read getattr lock open watch watch_reads search };
allow installd vendor_overlay_file:file { read getattr lock map open watch watch_reads };
allow installd vendor_overlay_file:lnk_file { read getattr lock map open watch watch_reads };
allow installd file_contexts_file:file { read getattr lock map open watch watch_reads };
allow installd seapp_contexts_file:file { read getattr lock map open watch watch_reads };
allow installd asec_image_file:dir { search };
allow installd asec_image_file:file { getattr };
allow installd system_data_file:dir { read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd system_data_file:lnk_file { read create getattr setattr unlink };
allow installd mnt_pass_through_file:dir { read getattr lock open watch watch_reads search };
allow installd media_rw_data_file:dir { read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd media_rw_data_file:file { getattr setattr open read unlink };
allow installd system_data_file:dir { relabelfrom };
allow installd media_rw_data_file:dir { relabelto };
allow installd tmpfs:dir { read getattr lock open watch watch_reads search };
allow installd storage_file:dir { search };
allow installd sdcard_type:dir { read write getattr open remove_name search rmdir };
allow installd sdcard_type:file { getattr unlink };
allow installd mirror_data_file:dir { read write create getattr setattr lock rename mounton open watch watch_reads add_name remove_name reparent search rmdir };
allow installd misc_user_data_file:dir { read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd misc_user_data_file:file { read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow installd keychain_data_file:dir { read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd keychain_data_file:file { read getattr lock map unlink open watch watch_reads };
allow installd install_data_file:file { read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow installd install_data_file:dir { read write getattr lock open watch watch_reads add_name remove_name search };
allow installd dalvikcache_data_file:dir { read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd dalvikcache_data_file:file { read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow installd dalvikcache_data_file:lnk_file { getattr };
allow installd resourcecache_data_file:dir { read write getattr lock open watch watch_reads add_name remove_name search };
allow installd resourcecache_data_file:file { read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow installd unlabeled:dir { read write getattr lock relabelfrom open watch watch_reads add_name remove_name search rmdir };
allow installd unlabeled:file { getattr setattr relabelfrom unlink rename };
allow installd unlabeled:lnk_file { getattr setattr relabelfrom unlink rename };
allow installd unlabeled:sock_file { getattr setattr relabelfrom unlink rename };
allow installd unlabeled:fifo_file { getattr setattr relabelfrom unlink rename };
allow installd unlabeled:file { read getattr lock map open watch watch_reads };
allow installd system_data_file:file { getattr relabelfrom unlink };
allow installd system_data_file:lnk_file { getattr relabelfrom unlink };
allow installd system_data_file:sock_file { getattr relabelfrom unlink };
allow installd system_data_file:fifo_file { getattr relabelfrom unlink };
allow installd shell_data_file:dir { read write create getattr setattr lock relabelfrom relabelto rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd bluetooth_data_file:dir { read write create getattr setattr lock relabelfrom relabelto rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd nfc_data_file:dir { read write create getattr setattr lock relabelfrom relabelto rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd radio_data_file:dir { read write create getattr setattr lock relabelfrom relabelto rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd app_data_file:dir { read write create getattr setattr lock relabelfrom relabelto rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd privapp_data_file:dir { read write create getattr setattr lock relabelfrom relabelto rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd system_app_data_file:dir { read write create getattr setattr lock relabelfrom relabelto rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd shell_data_file:file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd shell_data_file:lnk_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd shell_data_file:sock_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd shell_data_file:fifo_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd bluetooth_data_file:file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd bluetooth_data_file:lnk_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd bluetooth_data_file:sock_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd bluetooth_data_file:fifo_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd nfc_data_file:file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd nfc_data_file:lnk_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd nfc_data_file:sock_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd nfc_data_file:fifo_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd radio_data_file:file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd radio_data_file:lnk_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd radio_data_file:sock_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd radio_data_file:fifo_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd app_data_file:file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd app_data_file:lnk_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd app_data_file:sock_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd app_data_file:fifo_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd privapp_data_file:file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd privapp_data_file:lnk_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd privapp_data_file:sock_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd privapp_data_file:fifo_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd system_app_data_file:file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd system_app_data_file:lnk_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd system_app_data_file:sock_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd system_app_data_file:fifo_file { read write create getattr setattr lock relabelfrom relabelto append map unlink rename open watch watch_reads };
allow installd labeledfs:filesystem { unmount };
allow installd user_profile_data_file:dir { read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow installd user_profile_data_file:file { read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow installd user_profile_data_file:dir { rmdir };
allow installd user_profile_data_file:file { unlink };
allow installd profman_dump_data_file:dir { write add_name search };
allow installd profman_dump_data_file:file { write create setattr open };
allow installd devpts:chr_file { read write getattr lock append map open watch watch_reads };
allow installd toolbox_exec:file { read getattr lock map execute open watch watch_reads execute_no_trans };
allow installd servicemanager:binder { call transfer };

allow installd dumpstate:fifo_file { write getattr };
allow installd system_server:binder { call transfer };
allow installd system_server:fd { use };
allow installd permission_service:service_manager { find };
allow installd block_device:dir { search };
allow installd labeledfs:filesystem { quotamod quotaget };
allow installd preloads_data_file:file { read getattr lock map unlink open watch watch_reads };
allow installd preloads_data_file:dir { read write getattr lock open watch watch_reads remove_name search rmdir };
allow installd preloads_media_file:file { read getattr lock map unlink open watch watch_reads };
allow installd preloads_media_file:dir { read write getattr lock open watch watch_reads remove_name search rmdir };
allow installd proc_filesystems:file { read getattr lock map open watch watch_reads };