allow bluetooth sysfs_wake_lock:file { ioctl read write getattr lock append map open watch watch_reads };
allow bluetooth self:capability2 { block_suspend };
allow bluetooth self:cap2_userns { block_suspend };
allow bluetooth system_suspend_server:binder { call transfer };

allow bluetooth system_suspend_server:fd { use };
allow bluetooth system_suspend_hwservice:hwservice_manager { find };
allow bluetooth hwservicemanager:binder { call transfer };

allow bluetooth hwservicemanager_prop:file { read getattr map open };
allow bluetooth hidl_manager_hwservice:hwservice_manager { find };
allow bluetooth bluetooth_data_file:dir { ioctl read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow bluetooth bluetooth_data_file:file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow bluetooth bluetooth_data_file:lnk_file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow bluetooth bluetooth_data_file:sock_file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow bluetooth bluetooth_data_file:fifo_file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow bluetooth bluetooth_logs_data_file:dir { ioctl read write getattr lock open watch watch_reads add_name remove_name search };
allow bluetooth bluetooth_logs_data_file:file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow bluetooth bluetooth_socket:sock_file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow bluetooth self:capability { net_admin };
allow bluetooth self:cap_userns { net_admin };
allow bluetooth self:capability2 { wake_alarm };
allow bluetooth self:cap2_userns { wake_alarm };
allow bluetooth self:packet_socket { read write create getattr setattr lock append map bind connect getopt setopt shutdown };
allow bluetooth self:capability { net_bind_service net_admin net_raw };
allow bluetooth self:cap_userns { net_bind_service net_admin net_raw };
allow bluetooth self:tun_socket { read write create getattr setattr lock append map bind connect getopt setopt shutdown };
allow bluetooth tun_device:chr_file { ioctl read write getattr lock append map open watch watch_reads };

allow bluetooth efs_file:dir { search };
allow bluetooth uhid_device:chr_file { ioctl read write getattr lock append map open watch watch_reads };
allow bluetooth proc_bluetooth_writable:file { ioctl read write getattr lock append map open watch watch_reads };
allow bluetooth property_socket:sock_file { write };
allow bluetooth init:unix_stream_socket { connectto };
allow bluetooth binder_cache_bluetooth_server_prop:property_service { set };
allow bluetooth binder_cache_bluetooth_server_prop:file { read getattr map open };

allow bluetooth property_socket:sock_file { write };
allow bluetooth init:unix_stream_socket { connectto };
allow bluetooth bluetooth_a2dp_offload_prop:property_service { set };
allow bluetooth bluetooth_a2dp_offload_prop:file { read getattr map open };
allow bluetooth property_socket:sock_file { write };
allow bluetooth init:unix_stream_socket { connectto };
allow bluetooth bluetooth_audio_hal_prop:property_service { set };
allow bluetooth bluetooth_audio_hal_prop:file { read getattr map open };
allow bluetooth property_socket:sock_file { write };
allow bluetooth init:unix_stream_socket { connectto };
allow bluetooth bluetooth_prop:property_service { set };
allow bluetooth bluetooth_prop:file { read getattr map open };
allow bluetooth property_socket:sock_file { write };
allow bluetooth init:unix_stream_socket { connectto };
allow bluetooth exported_bluetooth_prop:property_service { set };
allow bluetooth exported_bluetooth_prop:file { read getattr map open };
allow bluetooth property_socket:sock_file { write };
allow bluetooth init:unix_stream_socket { connectto };
allow bluetooth pan_result_prop:property_service { set };
allow bluetooth pan_result_prop:file { read getattr map open };
allow bluetooth audioserver_service:service_manager { find };
allow bluetooth bluetooth_service:service_manager { find };
allow bluetooth drmserver_service:service_manager { find };
allow bluetooth mediaserver_service:service_manager { find };
allow bluetooth radio_service:service_manager { find };
allow bluetooth app_api_service:service_manager { find };
allow bluetooth system_api_service:service_manager { find };
allow bluetooth network_stack_service:service_manager { find };
allow bluetooth shell_data_file:file { read };
allow bluetooth self:capability { sys_nice };
allow bluetooth self:cap_userns { sys_nice };
allow bluetooth runtime_event_log_tags_file:file { ioctl read getattr lock map open watch watch_reads };