# MLIPAY
hal_client_domain(system_app, hal_mlipay)

# MISYS
hal_client_domain(system_app, hal_misys)

# LCD
set_prop(system_app, persist_lcd_prop)


allow system_app sysfs_zram:file { open read getattr };
dontaudit system_app system_suspend_control_service:service_manager { find };
