#============= system_suspend ==============

# To access arbitrary sysfs paths from /sys/class/wakeup/* symlinks.
allow system_suspend sysfs:dir { ioctl read getattr lock open watch watch_reads search };
allow system_suspend sysfs:file { ioctl read getattr lock map open watch watch_reads }; # <-------- HERE
allow system_suspend sysfs:lnk_file { ioctl read getattr lock map open watch watch_reads };

allow system_suspend sysfs_rtc:dir { ioctl read getattr lock open watch watch_reads search };
allow system_suspend sysfs_rtc:file { ioctl read getattr lock map open watch watch_reads };
allow system_suspend sysfs_rtc:lnk_file { ioctl read getattr lock map open watch watch_reads };

allow system_suspend sysfs_vibrator:dir { ioctl read getattr lock open watch watch_reads search };
allow system_suspend sysfs_vibrator:file { ioctl read getattr lock map open watch watch_reads }; # <-------- AND HERE
allow system_suspend sysfs_vibrator:lnk_file { ioctl read getattr lock map open watch watch_reads };
