allow traced_probes traced_probes_exec:file { read getattr map execute open entrypoint };

allow traced_probes traced_probes_tmpfs:file { read write getattr map };
allow traced_probes traced:fd { use };
allow traced_probes traced_tmpfs:file { read write getattr map };
allow traced_probes traced_producer_socket:sock_file { write };
allow traced_probes traced:unix_stream_socket { connectto };

allow traced_probes debugfs_tracing:dir { ioctl read getattr lock open watch watch_reads search };
allow traced_probes debugfs_tracing:file { ioctl read write getattr lock append map open watch watch_reads };
allow traced_probes debugfs_trace_marker:file { getattr };
allow traced_probes self:capability { sys_nice };
allow traced_probes self:cap_userns { sys_nice };
allow traced_probes domain:dir { ioctl read getattr lock open watch watch_reads search };
allow traced_probes domain:file { ioctl read getattr lock map open watch watch_reads };
allow traced_probes domain:lnk_file { ioctl read getattr lock map open watch watch_reads };
allow traced_probes packages_list_file:file { ioctl read getattr lock map open watch watch_reads };
allow traced_probes kmsg_device:chr_file { write };
allow traced_probes system_file:dir { read open };
allow traced_probes self:capability { dac_read_search };
allow traced_probes self:cap_userns { dac_read_search };
allow traced_probes apk_data_file:dir { read getattr open search };
allow traced_probes dalvikcache_data_file:dir { read getattr open search };
allow traced_probes system_app_data_file:dir { read getattr open search };
allow traced_probes backup_data_file:dir { read getattr open search };
allow traced_probes bootstat_data_file:dir { read getattr open search };
allow traced_probes update_engine_data_file:dir { read getattr open search };
allow traced_probes update_engine_log_data_file:dir { read getattr open search };
allow traced_probes user_profile_data_file:dir { read getattr open search };
allow traced_probes atrace_exec:file { read getattr map execute open };
allow traced_probes atrace:process { transition };

dontaudit traced_probes atrace:process { noatsecure };

allow traced_probes atrace:process { siginh rlimitinh };
allow traced_probes atrace:process { sigkill };
allow traced_probes proc_meminfo:file { ioctl read getattr lock map open watch watch_reads };
allow traced_probes proc_stat:file { ioctl read getattr lock map open watch watch_reads };
allow traced_probes proc_vmstat:file { ioctl read getattr lock map open watch watch_reads };