allow untrusted_app appdomain_tmpfs:file { read write getattr map execute };
dontaudit untrusted_app proc_zoneinfo:file { read };
allow untrusted_app self:udp_socket { ioctl };
dontaudit untrusted_app proc_net:file { read };
