# Denials
allow zygote zygote_tmpfs:file { read write getattr map };
allow zygote runtime_event_log_tags_file:file { ioctl read getattr lock map open watch watch_reads };
allow zygote self:capability { chown dac_override dac_read_search fowner setgid setuid };
allow zygote self:cap_userns { chown dac_override dac_read_search fowner setgid setuid };
allow zygote self:capability { setpcap };
allow zygote self:cap_userns { setpcap };
allow zygote self:process { setcurrent };
allow zygote system_server_startup:process { dyntransition };
allow zygote appdomain:process { dyntransition };
allow zygote webview_zygote:process { dyntransition };
allow zygote app_zygote:process { dyntransition };
allow zygote appdomain:dir { getattr search };
allow zygote appdomain:file { ioctl read getattr lock map open watch watch_reads };
allow zygote system_server:process { getpgid setpgid };
allow zygote appdomain:process { getpgid setpgid };
allow zygote webview_zygote:process { getpgid setpgid };
allow zygote app_zygote:process { getpgid setpgid };
allow zygote system_data_file:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote system_data_file:file { ioctl read getattr lock map open watch watch_reads };
allow zygote dalvikcache_data_file:dir { ioctl read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow zygote dalvikcache_data_file:file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow zygote dalvikcache_data_file:lnk_file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow zygote resourcecache_data_file:dir { ioctl read write getattr lock open watch watch_reads add_name remove_name search };
allow zygote resourcecache_data_file:file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow zygote dalvikcache_data_file:file { execute };
allow zygote system_data_file:dir { mounton };
allow zygote mnt_expand_file:dir { mounton };
allow zygote tmpfs:dir { relabelfrom };
allow zygote tmpfs:lnk_file { relabelfrom };
allow zygote system_data_file:dir { relabelto };
allow zygote system_data_file:lnk_file { relabelto };
allow zygote mnt_expand_file:dir { read relabelto open search };
allow zygote user_profile_data_file:dir { mounton search };
allow zygote tmpfs:dir { ioctl read write create getattr setattr lock rename mounton open watch watch_reads add_name remove_name reparent search rmdir };
allow zygote media_rw_data_file:dir { getattr search };
allow zygote proc_filesystems:file { ioctl read getattr lock map open watch watch_reads };
allow zygote tmpfs:lnk_file { create };
allow zygote mirror_data_file:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote system_data_file:dir { getattr };
allow zygote shell_data_file:dir { getattr };
allow zygote mnt_expand_file:dir { getattr };
allow zygote bluetooth_data_file:dir { getattr };
allow zygote nfc_data_file:dir { getattr };
allow zygote radio_data_file:dir { getattr };
allow zygote app_data_file:dir { getattr };
allow zygote privapp_data_file:dir { getattr };
allow zygote self:process { execmem };
allow zygote zygote_tmpfs:file { execute };
allow zygote ashmem_libcutils_device:chr_file { execute };
allow zygote idmap_exec:file { ioctl read getattr lock map execute open watch watch_reads execute_no_trans };
allow zygote dex2oat_exec:file { ioctl read getattr lock map execute open watch watch_reads execute_no_trans };
allow zygote vendor_overlay_file:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote vendor_overlay_file:file { ioctl read getattr lock map open watch watch_reads };
allow zygote vendor_overlay_file:lnk_file { ioctl read getattr lock map open watch watch_reads };
allow zygote cgroup:dir { ioctl read write create getattr setattr lock rename open watch watch_reads add_name remove_name reparent search rmdir };
allow zygote cgroup:file { ioctl read getattr lock map open watch watch_reads };
allow zygote cgroup:lnk_file { ioctl read getattr lock map open watch watch_reads };
allow zygote self:capability { sys_admin };
allow zygote self:cap_userns { sys_admin };
allow zygote pmsg_device:chr_file { getattr };
allow zygote debugfs_trace_marker:file { getattr };
allow zygote seapp_contexts_file:file { ioctl read getattr lock map open watch watch_reads };
allow zygote selinuxfs:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote selinuxfs:file { ioctl read getattr lock map open watch watch_reads };
allow zygote selinuxfs:lnk_file { ioctl read getattr lock map open watch watch_reads };
allow zygote selinuxfs:file { write lock append map open };
allow zygote kernel:security { check_context };
allow zygote selinuxfs:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote selinuxfs:file { ioctl read getattr lock map open watch watch_reads };
allow zygote selinuxfs:lnk_file { ioctl read getattr lock map open watch watch_reads };
allow zygote selinuxfs:file { write lock append map open };
allow zygote kernel:security { compute_av };
allow zygote self:netlink_selinux_socket { read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto name_bind };
allow zygote proc_cpuinfo:file { mounton };
allow zygote rootfs:dir { mounton };
allow zygote tmpfs:filesystem { mount unmount };
allow zygote fuse:filesystem { unmount };
allow zygote sdcardfs:filesystem { unmount };
allow zygote mnt_user_file:dir { ioctl read write create getattr setattr lock rename mounton open watch watch_reads add_name remove_name reparent search rmdir };
allow zygote mnt_user_file:lnk_file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow zygote mnt_user_file:file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow zygote mnt_pass_through_file:dir { ioctl read write create getattr setattr lock rename mounton open watch watch_reads add_name remove_name reparent search rmdir };
allow zygote storage_file:dir { mounton search };
allow zygote sdcard_type:dir { ioctl read write create getattr setattr lock rename mounton open watch watch_reads add_name remove_name reparent search rmdir };
allow zygote sdcard_type:file { ioctl read write create getattr setattr lock append map unlink rename open watch watch_reads };
allow zygote zygote_exec:file { ioctl read getattr lock map execute open watch watch_reads execute_no_trans };
allow zygote statsdw_socket:sock_file { write };
allow zygote statsd:unix_dgram_socket { sendto };
allow zygote rootfs:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote rootfs:file { ioctl read getattr lock map open watch watch_reads };
allow zygote rootfs:lnk_file { ioctl read getattr lock map open watch watch_reads };
allow zygote system_file:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote system_file:file { ioctl read getattr lock map open watch watch_reads };
allow zygote system_file:lnk_file { ioctl read getattr lock map open watch watch_reads };
allow zygote oemfs:dir { search };
allow zygote ion_device:chr_file { ioctl read getattr lock map open watch watch_reads };
allow zygote tmpfs:dir { ioctl read getattr lock open watch watch_reads search };
allow zygote same_process_hal_file:file { read getattr map execute open };
allow zygote overlay_prop:file { read getattr map open };
allow zygote exported_overlay_prop:file { read getattr map open };
allow zygote device_config_runtime_native_prop:file { read getattr map open };
allow zygote device_config_runtime_native_boot_prop:file { read getattr map open };
allow zygote device_config_window_manager_native_boot_prop:file { read getattr map open };

dontaudit zygote self:capability { sys_resource };
dontaudit zygote self:cap_userns { sys_resource };
dontaudit zygote media_rw_data_file:dir { setattr };

allow zygote system_server:fd { use };
allow zygote system_unsolzygote_socket:sock_file { write };
allow zygote system_server:unix_dgram_socket { sendto };
allow zygote media_variant_prop:file { read getattr map open };